@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-color: rgb(41, 41, 114);
$secondary-color: rgb(255, 215, 0);

* {
  margin: 0;
  padding: 0;
}
   {
  display: grid;
  grid-template-columns: 375px 1fr;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.left-side {
  background-color: $main-color;
  color: $secondary-color;
  padding: 50px 40px;

  ul {
    margin-left: 30px;
  }
  li {
    margin: 10px 0;
  }
}
.photo {
  display: block;
  border-radius: 50%;
  width: 90%;
  margin: 10px auto 50px;
}
.contacts,
.language {
  img {
    width: 32px;
  }
  a, p {
    text-decoration: none;
    color: inherit;
    padding: 5px 0 0 10px;
  }
}
.contact,
.language {
  display: flex;
  margin: 10px 0;
}
.right-side {
  background-color: rgb(243, 243, 243);
  padding: 50px 60px 0;

  h1, h2 {
    text-align: center;
  }
  h2 {
    margin-bottom: 30px;
  }
  h1, h2, h3 {
    color: $main-color;
  }
  li {
    list-style-type: none;
  }
  li:before {
    content: "\2714";
    color: $secondary-color;
    padding-right: 10px;
  }
}
.left-section,
.right-section {
  margin-bottom: 40px;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-title {
  margin: 10px 0;
}
hr {
  border: none;
  background-color: $secondary-color;
  height: 2px;
  width: 50%;
  margin: 0 auto;
}
.react-projects,
.js-projects,
.courses,
.work-experience,
.education {
  li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .left-side {
    display: flex;
    flex-wrap: wrap;
  }
  .photo {
    max-width: 200px;
    height: 100%;
  }
  .left-side-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .left-section {
    margin-right: 20px;
  }
}

@media screen and (max-width: 599px) {
  .right-side {
    padding: 50px 20px 0;
  }
}

@media screen and (max-width: 409px) {
  .wrapepr {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .skills-list {
    grid-template-columns: 1fr;
  }
}